.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 880px;
    margin: 67px 59.53% 60px 15.625%;
}

@media screen and (max-width: 1023px) {
    .footer {
        max-width: 660px;
        margin: 48px auto 36px;
    } 
}

@media screen and (max-width: 767px) {
    .footer {
        max-width: 282px;
        margin: 48px auto 36px;
    } 
}